    ul {
        list-style-type: none;
    }
    form {
        box-sizing: border-box;
        text-align: center;
    }
    .delete{
        float: right;
    }
    .save {
        float: left;
    }